*.iml
.gradle
.idea/
.DS_Store
build/
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
Logcat/
*.log

# Custom Ignores
temp_*
*.b64
*.apk
logs/
releases/

# Local Android SDK
android-sdk/
broken.devcontainer/
